# Data Science Tools and Ecosystem

# INTRODUCTION
In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| PyCharm            |

### Below are a few examples of evaluating arithmetic expressions in Python

You can evaluate arithmetic expressions in Python using various mathematical operators and functions. Here are some examples:

1. Addition:
```python
x = 5
y = 3
result = x + y
print(result)  # Output: 8

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)  # Output: 17

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)  # Output: 3.3333333333333335

3.3333333333333335

## Author

Piyush